.flavor_container {
  max-width: 30rem;
  margin: 2rem auto;
  background-color: #ecf3e1;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flavor_name {
  font-size: 3rem;
  color: #333;
  margin-bottom: 0.8rem;
  text-decoration: underline;
}

.details p {
  font-size: 1rem;
  margin: 1rem;
}

.details p strong {
  font-weight: bold;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .flavor_container {
    max-width: calc(100% - 2rem);
    margin: 1rem auto;
    padding: 0.5rem;
  }

  .flavor_name {
    font-size: 2rem;
  }

  .details p {
    font-size: 0.9rem;
    margin: 0.5rem;
  }
}
